<<<<<<< HEAD
@import "tailwindcss"; 

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
=======
@import "tailwindcss";

*{
    
    box-sizing:border-box;
}
html{
    font-size: 22px;
}

.active hr{
    @apply block
}
>>>>>>> ca0e4dc50d35e287e6cdae3c7c8f3c14254d8e7f

::-webkit-scrollbar{
    @apply hidden
}
<<<<<<< HEAD
*{
    font-family:outfit;
=======

.Header{
    width: 100%;
    display: flex;
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    background-color: rgb(9, 9, 155);
    justify-content: space-between;
    color: rgb(247, 247, 247);
    padding: 10px;
    height: 60px;
}




@media (max-width:670px){
  .active p{
    @apply text-white bg-blue-500
  }
>>>>>>> ca0e4dc50d35e287e6cdae3c7c8f3c14254d8e7f
}